@tailwind base;
@tailwind components;
@tailwind utilities;
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 :root {
  --background: #2B2B2B;
  --foreground: #FFFFFF;
  --background-secondary: #3B3B3B;
  --caption-label: #858584;
  --text-white: #FFFFFF;
  --call-action : #A259FF;
  --gradient-2: linear-gradient(90deg, #A259FF 0%, #377DF7 100%);
  --gradient-3: linear-gradient(90deg, #A259FF 0%, #FF6250 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Mono", monospace;
}
